# Solana
NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=https://api.devnet.solana.com
NEXT_PUBLIC_SOLANA_WS_URL=wss://api.devnet.solana.com

# USDC mint (devnet)
NEXT_PUBLIC_USDC_MINT=4zMMC9srt5Ri5X14GAgXhaHii3GnPAEERYPJgZJDncDU

# Umbra
NEXT_PUBLIC_UMBRA_NETWORK=devnet
NEXT_PUBLIC_UMBRA_PROGRAM_ID=
NEXT_PUBLIC_UMBRA_INDEXER_URL=
NEXT_PUBLIC_UMBRA_RELAYER_URL=

# Credential cNFT collection (populate via `node scripts/setup-cnft.mjs`)
NEXT_PUBLIC_HUSH_COLLECTION=
NEXT_PUBLIC_HUSH_TREE=

# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_APP_NAME=Hush
