NEXT_PUBLIC_SOLANA_NETWORK=devnet
NEXT_PUBLIC_SOLANA_RPC_URL=
NEXT_PUBLIC_SOLANA_RPC_WS_URL=
NEXT_PUBLIC_UMBRA_NETWORK=devnet
NEXT_PUBLIC_UMBRA_INDEXER_URL=https://indexer.api.umbraprivacy.com
NEXT_PUBLIC_UMBRA_RELAYER_URL=https://relayer.api.umbraprivacy.com
NEXT_PUBLIC_EMPLOYER_URL=http://localhost:3000
NEXT_PUBLIC_EMPLOYEE_URL=http://localhost:3001
NEXT_PUBLIC_COMPLIANCE_URL=http://localhost:3002
